<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="icon"
            type="image/xml+svg"
            href="/blob/images/favicon.svg"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="/blob/styles/index.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="/blob/styles/monokai.css"
        />
        <script
            src="/blob/scripts/index.js"
            type="module"
        ></script>
        <title>%data.title% | %global.title%</title>
    </head>

    <body class="wait">
        <page-layout>%content%</page-layout>
    </body>
</html>
