:root {
    --app-color-1: #e8985e;
    --app-color-2: #a93f55;
    --app-color-3: #19323c;
    --app-color-4: #f5f9e9;
    --app-color-5: #5b85aa;

    --color-text: var(--app-color-4);
    --color-text-contrast: var(--app-color-3);
    --color-primary: var(--app-color-2);
    --color-primary-contrast: var(--app-color-5);
    --color-accent: var(--app-color-1);

    --color-surface: #5a5a5a;

    --font-xxl: 3rem;
    --font-xl: 2.4rem;
    --font-l: 2rem;
    --font-m: 1.6rem;
    --font-s: 1.1rem;

    --space-xxs: 2px;
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 12px;
    --space-l: 16px;
    --space-xl: 24px;
    --space-xxl: 40px;

    --border-radius: 8px;
}

* {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;

    accent-color: var(--color-accent);

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    color: var(--color-text);
    background-color: var(--color-text-contrast);

    font-family: sans-serif;
    font-size: var(--font-s);
}

body.wait {
    display: none;
}

main {
    margin-bottom: auto;
}

main.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-m);
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-text-contrast);
    padding: var(--space-m) var(--space-s);
}

header > nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-m);
    align-items: center;
    justify-content: flex-start;

    list-style: none;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;

    background-color: var(--color-text-contrast);
    padding: var(--space-m) var(--space-s);

    margin-top: var(--space-xxl);
}

footer > nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-s);
    align-items: center;
    justify-content: flex-start;

    list-style: none;
}

h1 {
    font-size: var(--font-xxl);
    font-weight: bold;

    margin-top: var(--space-xl);
    margin-bottom: var(--space-m);
}

h2 {
    font-size: var(--font-xl);
    font-weight: bold;

    margin-top: var(--space-xl);
    margin-bottom: var(--space-m);
}

h3 {
    font-size: var(--font-l);
    font-weight: bold;

    margin-top: var(--space-l);
    margin-bottom: var(--space-s);
}

h4 {
    font-size: var(--font-m);
    font-weight: bold;

    margin-top: var(--space-l);
    margin-bottom: var(--space-s);
}

p {
    font-size: var(--font-s);
    font-weight: normal;

    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

pre > code {
    border-radius: var(--border-radius);

    font-family: monospace;
    font-size: var(--font-s);
}

ul {
    padding-left: var(--space-xl);
}

hr {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);

    border-top: 1px solid var(--color-text);
}

a {
    display: inline-block;
    cursor: pointer;

    color: var(--color-primary);
    background-color: transparent;

    font-weight: bold;

    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

a:hover,
a:active,
a:focus-visible {
    color: var(--color-text);
    background-color: var(--color-primary);
}

button {
    display: inline-block;
    cursor: pointer;

    color: var(--color-text);
    background-color: var(--color-primary);

    border: 2px solid var(--color-primary);

    border-radius: var(--border-radius);

    font-weight: bold;

    padding: var(--space-l) var(--space-xl);

    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

button:hover,
button:active,
button:focus-visible {
    color: var(--color-primary);
    background-color: var(--color-text);
}

label:hover,
label:active,
label:focus-visible,
label:focus-within {
    filter: drop-shadow(0 0 10px var(--color-accent));
    background: none;
}

input[type="checkbox"] {
    cursor: pointer;
}

label:has(input[type="checkbox"]) {
    cursor: pointer;
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: min(80ch, 100%);
}

@media only screen and (max-width: 1000px) {
    .container {
        width: min(60ch, 100%);
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: min(40ch, 100%);
    }
}

@media only screen and (max-width: 300px) {
    .container {
        padding-left: var(--space-m);
        padding-right: var(--space-m);

        width: 100%;
    }
}

a.icon {
    width: 50px;
    height: 50px;
}
