name: Build Project

on:
    push:
        branches: ["develop"]
    pull_request:
        branches: ["main", "develop"]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  cache: npm

            - name: Install Dependencies
              run: npm ci

            - name: Build
              run: npm run build
